<div>
  <form [formGroup]="myform" (ngSubmit)="handleSubmit()">
    <div>
      <label for="country">Select Country:</label>
      <select name="" id="country" formControlName="country">
        <option *ngFor="let countryName of country" [value]="countryName">
          {{ countryName }}
        </option>
      </select>
    </div>
    <div>
      <label for="country">Select State:</label>
      <select name="" id="country" formControlName="state">
        <option *ngFor="let state of states" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
